<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TubbrTestSuite">
    <!--  parameter name="platform" value="Android 6.0"/>
        <parameter name="udid" value="192.168.166.101:5555"/>
        <parameter name="systemPort" value="8200"/-->
    <test name="Test1" preserve-order="true">
        <classes>
            <class name="com.tubbrApp.LaunchPageTest"/>
            <class name="com.tubbrApp.LoginTest"/>
        </classes>
    </test>
     <test name="Test2" preserve-order="true">
        <classes>
            <class name="com.tubbrApp.FourSliderTest"/>
            <class name="com.tubbrApp.LogoutTest"/>
        </classes>
    </test>
</suite>
